body,
html{
    padding: 0;
    margin: 0;
}

.main{
    background: url('img/bg.png');
    height: calc(100% - 50px);
    width: 100%;
    background-size: cover;
    background-repeat: round;

}

.window,
.char-choose,
.bg-choose,
.game-over,
.game-won,
.htp{
    position: absolute;
    top: 10%;
    left:0;
    right:0;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
}
.initial-content{
    width:100%;
}

.htp,
.game-over,
.game-won{
    visibility: hidden;
}

.gname{
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    text-shadow: 3px 3px 25px rgba(128, 0, 0, 1);
    margin: 40px auto;
    text-align: center;
}

.button-set{
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px auto;
    gap: 20px;
    justify-content: center;

}

.btn-ng{
    width: max-content;
    padding: 15px;
    color: white;
    border: 0;
    border-radius: 40px;
    
}

.btn-htp {
    width: max-content;
    padding: 15px;
    background-color: rgb(0, 125, 0);
    color: white;
    border: 0;
    border-radius: 40px;
}

.char-choose{
    overflow-y: scroll;
    visibility: hidden;
}
.char-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.bg-choose{
    overflow-y: scroll;
    visibility: hidden;
}

.bg-menu{
    display: flex;
    width:  80%;
    flex-flow: column wrap;
    gap: 10px;
   margin: 10px auto;
}
#main-game {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;

}



.gameBG1,
.gameBG2,
.gameBG3{
    
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    overflow-x: hidden;
    background-size:cover;
    
    


}

.gameBG1{
    background:url('img/village.jpg');
}

.gameBG2 {
    background: url('img/rooftop.jpg');
}

.gameBG3 {
    background: url('img/forest.jpg');
}

.char {
    height: calc(100% /4);
    position: absolute;
    top: calc(100% - (100%/4));
    left: 10px;
}

.zombie {
    height: calc(100% /4);
    position: absolute;
    top: calc(100% - 250px);
}

.game-over,
.htp{
    text-align: center;
    color: beige;
    font-weight: 300;
    font-family: sans-serif;
    
}

button[class~="btn"] {
    width: max-content;
    padding: 15px;
    color: white;
    border: 0;
    border-radius: 40px;
}

button[class~="ng"]{
    background-color: rgb(0, 0, 125);
}

button[class~="htpb"] {
    background-color: rgb(0, 125, 0);
}

button[class~="ta"] {
    background-color: rgb(0125, 0, 125);
}

button[class~="back"] {
    background-color: rgb(0, 125, 125);
}
